@model ML.Producto
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="text-center">
        <h2>Productos Disponibles</h2>
    </div>
    
<div class="row">
    @foreach (ML.Producto producto in Model.Productos)
    {
        <div class="col mt-3 pt-3">
            <div class="card text-white bg-dark border-success  mb-3 border-4 " style="width: 18rem;">
                <img src="https://cdn.shopify.com/s/files/1/0279/8151/2798/products/RE0015_761x.jpg" class="card-img-top" style=" height:50%; width:100%;">
                <div class="card-body ">
                    <h5 class="card-title card-header text-center bg-secondary" id="pNombre">@producto.Nombre</h5>
                    <p class="card-text" id="pCosto">Precio: $@producto.PrecioUnitario MXN</p>
                    <p class="card-text" id="pIdSemestre">@producto.Descripcion</p>
                    <p class="card-text" style="display: none;" id="pIdMateria"> @producto.IdProducto</p>
                   <p class="text-center">
                       <a href="@Url.Action("CartPost", "VentaMateria", new { IdMateria = producto.IdProducto, Nombre = producto.Nombre, PrecioUnitario = producto.PrecioUnitario})" class="btn btn-success ">Añadir <i class="fa-solid fa-cart-plus" style="color: #f7d65e;"></i> </a>
                   </p> 

                   @* <button class="btn btn-success" onclick="CrearObjeto()" >Añadir <i class="bi bi-cart3" style="color: khaki"></i></button>      *@             
                </div>
            </div>
        </div>
    }
</div>
</div>


